html{
  background-color: rgb(232,232,232);
}

#container {
  background-color: white;
  
  width: 800px;
  height: 800px;
  margin: auto;
  font-size: 0px;
  box-shadow: 10px 10px 10px 10px #888888;
}

#buttons{
  position: relative;
  width: 600px;
  height: 20px;
  margin: 20px auto 20px auto;
  text-align: center;
  vertical-align: center;
}

.elo{
  display: inline-block;
}